<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oderi</property>
    <property name="hibernate.connection.username">admin.engel</property>
    <property name="hibernate.connection.password">223698745e.j</property>
    
    <mapping resource="mapeos/Departamento.hbm.xml"/>
    <mapping resource="mapeos/Empleado.hbm.xml"/>
    <mapping resource="mapeos/Asistencia.hbm.xml"/>
    <mapping resource="mapeos/JornadaDeTrabajo.hbm.xml"/>
    <mapping resource="mapeos/Justificacion.hbm.xml"/>
    <mapping resource="mapeos/MotivoDeInasistencia.hbm.xml"/>
    <mapping resource="mapeos/Inasistencia.hbm.xml"/>
    <mapping resource="mapeos/Usuario.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>
